*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.bg-img{
   width: 100%;
   position: relative;
   top: -200px;
}
nav{
    position: absolute;
    top: 5px;
    color: white;
    display: flex;
}

.logo{
    position:relative;
    top: 20px;
    left: 10%;
    width: 10%;
    font-size:30px;
}
.list{
    display: flex;
    position: relative;
    left:30%;
    top:10px;
    
}
.list-item{
    list-style: none;
    padding: 20px;
}

.callus p{
    position: relative;
    top:-40px;
    right:0;
}
span{
    position: relative;
    left:-45px;
}

.callus img{
    width: 10%;
    position: relative;
    top:10px;
    right:-25%;
    
}
.section{
    display: flex;
    position: absolute;
    top:30%;
    color: white;
}
.left-section{
    width:50%;
    position: relative;
    left: 10%;
    font-size:70px;
}
.section-img{
    position: relative;
    left:20%;
}

button{
    position: absolute;
    top:60%;
    right:75%;
    padding: 10px;
    border-radius:25px;
    border:2px solid white;
    background-color: transparent;
    width: 15%;
    color: white;
    cursor: pointer;
    font-size:20px;
}

.puzzle{
    width:5%;
    top: 25px;
    background-color: white;
    position: relative;
    left:10%;
    border-radius:30px;
    padding: 10px;
}

.bulb{
    width:5%;
    background-color: white;
    position: relative;
    top: 25px;
    left:10%;
    border-radius:30px;
    padding: 10px;
}
 
.img-1{
    width:20%;
    position: relative;
    top:-50px;
    left:20%;
    border: 1px solid green;
} 

 p{
    position: relative;
    top:25px;
    font-size: 20px;
    color:white;
    opacity: 1;
    text-align: center;
    
}

.img-2{
    width:20%;
    position: relative;
    top: 150px;
    left:-10%;
    border: 1px solid green;

} 
.imgs{
    background-color:grey;
    opacity:0.4;
}

